.create {
    width: 100%;
    background-image: repeating-linear-gradient(135deg, rgba(189,189,189,0.2) 0px, rgba(189,189,189,0.2) 3px,transparent 2.5px, transparent 4px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));

}
.createContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.create .createContainer .input {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.CreateReviewHeading {
    border: 1.8px solid #1D3D6E;
    border-radius: 9px;
    border-width: 6px;
    font-size: 30px;
    margin-top: 50px;
}

#title, #location, #date {
    border: 2px solid #1D3D6E;
    border-radius: 9px;
    margin-left: 8px;
    height: 25px;
    width: 200px;
}

#title::placeholder, #location::placeholder, #dat::placeholder{
    text-align: center;
    font-size: 12px;
}


.create .createContainer textarea {
    width: 100%;
    max-width: 500px;
    border: 2px solid #cccccc;
    margin-top: 10px;
    padding: 15px;
    background-color: #f8f9fa;
    font-size: 1.2rem;
    resize: vertical;
    border-radius: 20px;
}

.picsContainer {
    width: 90%;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
    border: 2px dashed #1D3D6E; 
    border-radius: 20px;
}

.Review-Create-Heading {
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: #1D3D6E;
}

.picsContainer .formInput label {
    cursor: pointer;
    font-size: 1.6rem;
    transition: all 0.3s ease;
    color: #1D3D6E;
}

.picsContainer .formInput label:hover {
    transform: translateY(-2px);
}

.picsContainer .uploadedPictures {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.picsContainer .upload_pic img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #1D3D6E;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.create .createBtn {
    width: 160px;
    height: 50px;
    border: none;
    margin-bottom: 10px;
    background: #1D3D6E;
    border-radius: 26px;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.create .createBtn:hover {
    background-color: #436290;
}
