/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Montserrat", sans-serif;
}

/* Default colours and styling */

Link {
    text-decoration: none;
}

:root{
    --Primarycolor : #FEBA3F;
    --Secondarycolor: #1D3D6E;
    --whiteColor : hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33% , 13%);
    --textColor: hsl(240, 3%, 23%);
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.section{
    padding: 4rem 0 2rem;
}

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon{
    font-size: 2rem;
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
}

.btn{
    padding: .6rem 1.5rem;
    background: var(--Primarycolor);
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn a{
    color: var(--whiteColor);
    font-weight: 500;
}

.btn:hover{
    background: var(--Secondarycolor);
}

img{
    width: 100%;
    height: auto;
}

@media screen and (min-width: 1240px) {
    .container{
        width: 80% !important;
        margin: auto !important;
    }

    .section{
        padding: 6rem 0 4rem ;
    }
}

@media screen and (min-width: 2560px) {
   body{
    zoom: 1.7;
   }
}
