
  .language-translation-container {
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    min-height: 100vh;
    /* background: #1D3D6E; */
    background-image: repeating-linear-gradient(135deg, rgba(189,189,189,0.1) 0px, rgba(189,189,189,0.1) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));

  }

  .heading {
    font-weight: bold;
    margin-bottom: 40px;
    color:#FEBA3F;
    text-align: center; 
  }
  .containerLanguage {
    min-width: 320px;
    max-width: 800px;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding: 30px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 7px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.01);
  }
  .wrapper {
    border-radius: 5px;
    border: 4px solid  #1D3D6E;
  }
  .wrapper .text-input {
    display: flex;
    border-bottom: 4px solid#1D3D6E;
  }
  .text-input .to-text {
    border-radius: 0px;
    border-left: 4px solid#1D3D6E;
  }
  .text-input textarea {
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
  }

  ::placeholder {
    color:#FEBA3F;
  }
  .controls,
  li,
  .icons,
  .icons i {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .controls {
    list-style: none;
    padding: 12px 15px;
  }
  
  select
  {
    margin-right: 15px;
  }
  
  .controls .row select {
    color: #FEBA3F;
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
    padding-left: 5px;

  }
  .text-input textarea::-webkit-scrollbar {
    width: 4px;
    
  }
  .controls .row select::-webkit-scrollbar {
    width: 8px;
  }
  .text-input textarea::-webkit-scrollbar-track,
  .controls .row select::-webkit-scrollbar-track {
    background: #fff;
  }
  .text-input textarea::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 8px;
  }
  .controls .row select::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 8px;
    border-right: 2px solid #ffffff;
  }
  .controls .exchange {
    color: #FEBA3F;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease;
  }
  .controls i:active {
    transform: scale(0.9);
  }
  .containerLanguage .translate-button {
    width: 100%;
    padding: 14px;
    outline: none;
    border: none;
    color: #1D3D6E;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    border-radius: 5px;
    background: #ffc107;
  }

  .containerLanguage .pdf-button {
    width: 100%;
    padding: 14px;
    outline: none;
    border: none;
    color: #FFF;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    border-radius: 5px;
    background: #1D3D6E;
  }