.search { 
    position: relative; 
    // background-color: whitesmoke; 
    background-image: repeating-linear-gradient(135deg, rgba(189,189,189,0.1) 0px, rgba(189,189,189,0.1) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    height: 270px; 
    background-size: cover; 
  } 
    
  .searchBackground #surfer { 
    background-attachment: fixed; 
    background-size: cover; 
    height: 800px; 
    width: 100%; 
    filter: brightness(60%); 
  } 
    
  .searchBar { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
  } 
    
  .searchBar h2 { 
    color:  #1D3D6E ; 
    text-align: center; 
    font-size: 2.5em; 
    margin-bottom: 20px; 
  } 
    
  .searchInput { 
    background-color: #1D3D6E; 
    padding: 5px 10px; 
    border-radius: 50px; 
    width: 400px; 
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
  } 

  .searchInput::placeholder { 
    color: #FEBA3F;
  } 
    
  .searchInput input { 
    border: none; 
    height: 40px; 
    width: 70%; 
    padding: 0 10px; 
    background-color: #1D3D6E;
    color: white;
  } 
    
  .searchInput input:focus { 
    outline: none; 
  } 
    
  .searchInput .icon { 
    cursor: pointer; 
    color: #FEBA3F;
  } 
    
  .searchedPosts { 
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    background-color: white; 
  } 
    
  #loading { 
    width: 20px; 
    height: 20px; 
  } 
    
    
  @media screen and (max-width: 700px) { 
    .searchInput { 
      width: 300px; 
    } 
    
  }